/*****************************************************************************/
/* CSS RESET STYLES */
/*****************************************************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding: 1rem;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*****************************************************************************/
/* DESKTOP STYLES */
/*****************************************************************************/
header {
    margin-bottom: 1.5rem;
}

.menu-icon {
    height:2rem;
}

.wiki {
    height: 1.5rem;
}

.wiki-logo {
    height: 3rem;
}

.wiki-tagline {
    height: 1rem;
}

.header-container {
    display: flex;
    gap: 1rem;
}

.submit-btn {
    height: 1.8rem;
}