/*****************************************************************************/
/* CSS RESET STYLES */
/*****************************************************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding: 1rem;
    font-family: 'Arial', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*****************************************************************************/
/* DESKTOP STYLES */
/*****************************************************************************/
header {
    margin-bottom: 1.5rem;
}

.menu-icon {
    height:2rem;
}

.wiki {
    height: 1.5rem;
}

.wiki-logo {
    height: 3rem;
}

.wiki-tagline {
    height: 1rem;
}

.header-container {
    display: flex;
    gap: 1rem;
}

.submit-btn {
    height: 1.8rem;
}

.main-heading, .subheading {
    text-align: center;
    margin-bottom: 0.5rem;
}

.subheading {
    margin-top: 1rem;
}

.main-img {
    margin: 2rem 0;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    font-family: serif;
}

h1, h2, p, video {
    margin: auto;
}

video {
    margin-bottom: 1.5rem;
}

.info {
    width: 55vw;
}

hr {
    width: 55vw;
    margin: auto;
}

footer {
    text-align: center;
    margin-top: 2rem;
}